.sidebar {
	position: fixed;
	bottom: -80px;
	left: 50%;
	transform: translateX(-50%);

	padding: 10px;
	border-radius: 10px;

	background-color: azure;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	/* animation: myfirst 5s; */

	transition: bottom 1s;
}
.sidebar:hover {
	bottom: 5px;
}
.btn {
	margin: 10px;
	background-color: bisque;
	height: 100%;
	width: calc(height);
}
.btnimg {
	height: 100px;
}
/* @keyframes myfirst {
	from {
		bottom: -20px;
	}
	to {
		bottom: 5px;
	}
} */
