.cb-sidebar {
	position: absolute;
	right: 0;
	width: 400px;
	.cb-sidebar__date {
	}
	.cb-sidebar__box {
		margin: 20px;
		border-radius: 20px;
		background: #ffffff;
		text-align: center;
		.cb-sidebar__box__avatar {
			margin: 20px;
			width: 80%;
		}
		label {
			display: block;
			font-size: 50px;
			color: #333333;
		}
	}
}
