#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
a {
  color: #42b983;
}

label {
  margin: 0 0.5em;
  font-weight: bold;
}

code {
  background-color: #eee;
  padding: 2px 4px;
  border-radius: 4px;
  color: #304455;
}
.cb-background {
  height: 100vh;
  width: 100vw;
  position: fixed;
}
.cb-head {
  height: 50px;
  line-height: 50px;
  padding: 0;
  .cb-menu {
    position: absolute;
    // width: 100vw;
    left: 50%;
    transform: translateX(-50%);
  }
}
.cb-content {
  position: absolute;
  // height: 100%;
  top: 50px;
  bottom: 50px;
}
.cb-foot {
  position: fixed;
  width: 100%;
  bottom: 0px;
  height: 50px;
  line-height: 50px;
  padding: 0;
  .cb-beian {
    padding: 0;
  }
}
.cb-darkswitch {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 90px;
  height: 90px;
  z-index: 999;
  border-radius: 50%;
}

.cb-modal {
  width: 600px;
  border-radius: 10px;
}
