@font-face {
  font-style: normal;
  font-family: 'HarmonyOS_Regular';
  src: url('../assets/HarmonyOS_Sans_SC_Regular.ttf') format('truetype');
}
@font-face {
  font-style: normal;
  font-family: 'MiSans';
  src: url('../assets/MiSans-Regular.ttf') format('truetype');
}
.cb-layout--app {
  font-family: PingFang SC, MiSans, HarmonyOS_Regular, Helvetica Neue,
    Microsoft YaHei, sans-serif !important;
}
